<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status = "ERROR">
    <Appenders>
        <Console name = "Console" target = "SYSTEM_OUT">
            <PatternLayput patern = "%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/> <!-- Установить выводимое сообещие на консоль -->
        </Console>
    </Appenders>
    <Loggers>
        <Root level = "INFO"> <!-- Установить минимальный уровень логирования здесь -->
            <AppenderRef ref = "Console"/>
        </Root>
    </Loggers>
</Configuration>